:root {
--cor-detalhe-escura: #4e0066;
--cor-detalhe-media: #990099;
--cor-detalhe-clara: #cc0033;

--cor-neutra-clara: #eeeeee;
--cor-neutra-media: #888888;
--cor-neutra-escura: #222222;

--cor-links: #ff3300;
}

body {
background-color: var(--cor-neutra-clara);
color: var(--cor-neutra-escura);
font-size: 16px;
margin: 0;
box-sizing: border-box;
font-family: "roboto", sans-serif;
}

nav {
    background-color: var(--cor-detalhe-media);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

.navlista li {
    padding-left: 0.5rem;
}

.titulonav{
    font-size: 1.5rem;
    color: var(--cor-neutra-clara);
    text-decoration: none;
    font-weight: bold;
} 

.navlink {
    text-decoration: none;
    color: var(--cor-neutra-escura);
    border-bottom: 3px solid var(--cor-neutra-escura);
    padding-bottom: 0.4rem;
    transition: 0.5s;
}

.navlink:hover {
    background-color: var(--cor-neutra-clara);
    color: var(--cor-links);
    border-bottom: 3px solid var(--cor-links);
}